{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css.css' %}">

{% endblock %}

{% block 'body' %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="box">
    <!--cria card-->
    <div class="card-body text-primary">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
                Novo aluno
                </button>

                <br>
                <br>
                <div  class="row">
                    {% for aluno in alunos %}
                        <div class="col-md-4">
                            <a href="#" class="link-hover">
                                <div class="card-aluno">
                                    <br>
                                    <p class="dados">{{aluno.nome}}</p>
                                    <p class="dados">{{aluno.escola}}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor%}
    </div>
                <div style="width: 70%">

                    <h1 class="titulo font-degrade borda-bottom-degrade">Cadastro Aluno</h1>
                    <br>
                    <p>Nome do Aluno:</p>
                    <input type="text" class="form-control" value="{{nome_aluno}}" name="nome_aluno">
                    <br>
                    <p>Endereço do Aluno:</p>
                    <input type="text" class="form-control" value="{{end_aluno}}" name="end_aluno">
                    <br>
                    <p>Nome da Escola:
                    <input type="text" class="form-control" value="{{nome_escola}}" name="nome_escola">
                    <br>
                    <p>Endereço da Escola:
                    <input type="text" class="form-control" value="{{end_escola}}" name="end_escola">
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-success btn-lg">

                </div>
            </form>
        
    </div>
{% endblock %}