{% extends 'base.html' %}
{% load static %}

{% block 'body' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'plataforma:home' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/pais.png' %}">
                        <br>
                        <br>
                        <div id="texto" class="m-auto">
                            <h3>Gerenciador de cadastros</h3>
                        </div>
                    </div>
                </a>

                <a href="{% url 'plataforma:escolas_parceiras' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/escola.png' %}">
                        <br>
                        <br>
                        <div id="texto" class="m-auto">
                            <h3>Escolas parceiras</h3>
                        </div>
                    </div>
                </a>

                <a href="{% url 'plataforma:localizacao' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/pais.png' %}">
                        <br>
                        <br>
                        <div id="texto" class="m-auto">
                            <h3>Localização</h3>
                        </div>
                    </div>
                </a>

                <a href="{% url 'plataforma:consultar_transportadores' %}" class="link-lateral" >
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/transporte.png' %}" >
                        <br>
                        <br>
                        <div id="texto" class="m-auto">
                            <h3>Transportadores</h3>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-8">
                {% block 'plataforma' %}


                {% endblock %}
            </div>

        </div>
    </div>
{% endblock%}


        <!-- Conteudo -->
        {% block content %}{% endblock %}
        


</html>